# Python cache / bytecode
__pycache__/
*.py[cod]
*$py.class

# Python tooling cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# IDE / editor
.vscode/
.idea/

# Logs
*.log

ESP8266.ino
ESP8266_WiFi_Bridge/ESP8266_WiFi_Bridge.ino
project_features.txt
project_operation_overview_public.txt
project_operation_overview.txt
